{% extends 'base.html.twig' %}
{% set formView = form.createView() %}
{% set recipe = form.data %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    {{ form_start(formView) }}
        {{ form_errors(formView) }}

        {{ form_row(formView.name, {label: 'Name'}) }}

        {{ form_row(formView.ingredients, {label: 'Ingredients'}) }}

        <button class="btn btn-success" name="action" value="save">Save recipe</button>
        <button class="btn btn-primary" name="action" value="cancel">Cancel</button>
    {{ form_end(formView) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/manage-ingredients.js') }}"></script>
{% endblock %}